$div-color:gray;
$div-color1:gold;

body{
    display: flex;
    justify-content: center;
}

.div1{
    width: 100px;
    height: 100px;
    background-color: $div-color;
    border-radius: 10px;
}

.div2{
    width: 100px;
    height: 100px;
    background-color: $div-color;
    border-radius: 10px;
}

.div3{
    width: 100px;
    height: 100px;
    background-color: $div-color;
    border-radius: 10px;
}

div:hover{
    background-color: $div-color1;
}

